# dependencies
node_modules/
.yarn-integrity

# coverage
lib-cov
coverage
.nyc_output

# optional
.npm
.eslintcache
.node_repl_history
*.tgz

# build & production
build
dist/
public/assets
translations
.css
templates/client
styles/*.css
src/styles/css
src/styles/.css
public/locales/*.json
!public/locales/locales.json
!public/locales/en.json
!public/icons/

# misc
.qpc
.container
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
pids
*.pid
*.seed
*.pid.lock

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
api-debug*
