// Variables
$font-path: '~patternfly/dist/fonts/';
$img-path: '~patternfly/dist/img/';
$icon-font-path: '~patternfly/dist/fonts/';

@import '~patternfly/dist/css/rcue.css';
@import '~patternfly/dist/css/rcue-additions.css';
@import '~@patternfly/react-core/dist/styles/base.css';

// Include patternfly variables before bootstrap variables
@import '~patternfly/dist/sass/patternfly/variables';
@import '~@patternfly/patternfly/sass-utilities/all';

// Bootstrap Core variables and mixins
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// Patternfly Core variables and mixins
@import '~patternfly/dist/sass/patternfly/bootstrap-mixin-overrides';
@import '~patternfly/dist/sass/patternfly/mixins';

@import 'app/vars';
@import 'app/overrides';
@import 'app/common';
@import 'app/aboutModal';
@import 'app/login';
@import 'app/app';
@import 'app/forms';
@import 'app/pageLayout';
@import 'app/scans';
@import 'app/views';
@import 'app/wizard';
@import 'app/patternflyOverrides';
