/**
 * FixMe: this file is temporary, styling within this file is used for Django templates
 * When the templates are cleaned up, or removed, review if this file is still necessary
 */
// Variables
$font-path:      '~patternfly/dist/fonts/';
$img-path:       '~patternfly/dist/img/';
$icon-font-path: '~patternfly/dist/fonts/';

@use '@patternfly/react-core/dist/styles/base-no-reset.css';

// Include patternfly variables before bootstrap variables
@import 'patternfly/dist/sass/patternfly/variables';
@import '@patternfly/patternfly/sass-utilities/all';

// Bootstrap Core variables and mixins
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// Patternfly Core variables and mixins
@import 'patternfly/dist/sass/patternfly/bootstrap-mixin-overrides';
@import 'patternfly/dist/sass/patternfly/mixins';

@import 'app/vars';
@import 'app/overrides';
@import 'app/common';
// @import 'app/aboutModal';
@import 'app/login';
@import 'app/app';
@import 'app/forms';
@import 'app/pageLayout';
// @import 'app/scans';
@import 'app/templateViews';
// @import 'app/wizard';
