/* _overrides.scss */
.about-modal-pf {
  background-color: #1a1a1a;
  background-image: url('../images/about-bg.png');
  background-size: 50% auto;

  .modal-footer > img {
    height: 28px;
  }
}

.navbar-pf-vertical .navbar-brand .navbar-brand-name {
  height: 26px;
  margin-top: 6px;
}

.list-view-pf-top-align {
  .list-view-pf-additional-info, .list-view-pf-description {
    align-self: flex-start;
  }
}

@media (min-width: 768px) {
  .toolbar-pf-actions .form-group:first-of-type {
    padding-left: 0;
  }
}
