.quipucords-about-modal {
  .pf-c-content {
    font-size: inherit;
  }

  .quipucords-about-modal-copy-footer {
    text-align: right;
  }

  .quipucords-about-modal-copy-button {
    box-shadow: 0 0 3px var(--pf-global--palette--black-300);
  }

  .quipucords-about-modal-list {
    box-shadow: 0 0 2px var(--pf-global--palette--black-300);
    padding: 10px;

    &:focus,
    &:hover {
      box-shadow: 0 0 5px var(--pf-global--palette--black-100);
    }

    .list-unstyled li {
      display: flex;

      strong {
        white-space: nowrap;
      }
    }
  }
}
