/* _forms.scss */
.quipucords {
  .has-error textarea.form-control {
    border-color: var(--pf-global--palette--red-100);
  }
}

textarea.vertical-scroll {
  resize: vertical;
}

.quipucords-form-control.form-control[readonly] {
  background-color: var(--pf-global--palette--white);
  border: 0;
  color: inherit;
  font-weight: 700;

  &[type=textarea] {
    resize: none;
  }
}

textarea.quipucords-form-control.form-control[readonly] {
  resize: none;
}

.help-block abbr {
  text-decoration: none;
}

.quipucords-form__textarea-resize-none {
  resize: none;
}
