/* _login.scss */
.login .alert {
  background: transparent;
  color: var(--pf-global--palette--white);
}

#brand.login-title img {}

#brand img.login-title-img {
  min-width: 200px;
  max-width: 380px;
}

#brand img.login-title-img-brand {
  width: 38%;
}
