.quipucords{
  &-modal {
    h4.pf-c-title.pf-m-md {
      font-size: 0.9rem;
    }

    .pf-c-button {
      font-size: inherit;
    }

    &__rcue-width {
      div.pf-c-modal-box.pf-m-align-top {
        @media (min-width: $pf-global--breakpoint--md) {
          width: auto;
          min-width: 600px;
        }
      }
    }

    &__hide-backdrop {
      .pf-c-backdrop {
        background-color: transparent;
      }
    }

    &__confirmation {
      .pf-c-backdrop {
        z-index: calc(var(--pf-c-backdrop--ZIndex) + 1);
      }
      .pf-c-modal-box__body {
        padding-bottom: var(--pf-c-modal-box__body--PaddingTop);
      }
    }

    &__wizard {
      .pf-c-backdrop {
        z-index: calc(var(--pf-c-backdrop--ZIndex) - 1);
      }
    }
  }
}
