.quipucords{
  &-modal {
    &__rcue-width {
      div.pf-v5-c-modal-box.pf-m-align-top {
        @media (min-width: $pf-global--breakpoint--md) {
          width: auto;
          min-width: 600px;
        }
      }
    }

    &__hide-backdrop {
      .pf-v5-c-backdrop {
        background-color: transparent;
      }
    }

    &__confirmation {
      .pf-v5-c-backdrop {
        z-index: 1000;
      }
      .pf-v5-c-modal-box__body {
        padding-bottom: var(--pf-c-modal-box__body--PaddingTop);
      }
    }
  }
}
