/* _overrides.scss */

.navbar-pf-vertical .navbar-brand .navbar-brand-name {
  height: 26px;
  margin-top: 6px;
}

.list-view-pf-top-align {
  .list-view-pf-additional-info, .list-view-pf-description {
    align-self: flex-start;
  }
}

@media (min-width: 768px) {
  .toolbar-pf-actions .form-group:first-of-type {
    padding-left: 0;
  }
}
