.quipucords {
  --pf-global--FontSize--md: 0.9rem;
}

.pf-c-form__helper-text {
  font-size: var(--pf-global--FontSize--md) !important;
}

.quipucords-modal {
  .pf-c-alert__title,
  .pf-c-form__label-text {
    font-size: var(--pf-global--FontSize--md);
  }
}

.quipucords-navItem {
  button.quipucords-navItem {
    color: var(--pf-c-nav__link--m-current--Color);

    .pf-c-button__icon {
      color: var(--pf-c-nav__link--m-current--BackgroundColor);
      margin-right: 1em;
    }

    &.pf-m-current .pf-c-button__icon {
      color: var(--pf-c-page__header--BackgroundColor);
    }
  }
}
