.quipucords {
  // --pf-global--FontSize--md: 0.9rem;
}

.pf-c-form__helper-text {
  font-size: var(--pf-global--FontSize--md) !important;
}

.quipucords-modal {
  .pf-c-alert__title,
  .pf-c-form__label-text {
    font-size: var(--pf-global--FontSize--md);
  }
}

.quipucords-navItem {
  button.quipucords-navItem {
    color: inherit;


    .pf-c-button__icon {
      color: inherit;
      margin-right: 1em;
    }
  }
}
