.quipucords-table {
  // medium breakpoint for pf takes over
  &__td.pf-m-width {
    @for $tdWidth from 0 through 100 {
      &-#{$tdWidth} {
        width: percentage($tdWidth/100);
      }
    }
  }

  &__td-select {
    &:first-child:after {
      @media (max-width: $pf-global--breakpoint--md) {
        border-left-width: 0 !important;
      }
    }
  }

  &__td-expand-content {
    overflow-y: auto;
    min-height: 4em;
    max-height: 18em;
  }

  &__scan-jobs {
    margin-top: var(--pf-c-table--m-compact__expandable-row-content--PaddingTop);
    margin-bottom: var(--pf-c-table--m-compact__expandable-row-content--PaddingBottom);
  }
}
