/* _views.scss */

// Setup for internal vertical scroll

.quipucords-content {
  bottom: 0;
  top: $navbar-pf-vertical-height;
  right: 0;
  position: fixed;
  left: $nav-pf-vertical-width;
  .collapsed-nav & {
    left: $nav-pf-vertical-collapsed-width;
  }
  .hidden-nav & {
    left: 0;
  }
}

.quipucords-view-container {
  background-color: var(--pf-global--palette--white);
  display: flex;
  flex-direction: column;
  height: 100%;

  > .container-fluid {
    width: 100%;
  }

  .toolbar-pf {
    .refresh-button.btn-link {
      padding-left: 5px;
      padding-right: 5px;
    }

    .last-refresh-time {
      font-size: var(--pf-global--FontSize--xs);
      margin-left: 5px;
      position: relative;
      top: -1px;
    }
  }
}

// List container should scroll
.quipucords-list-container {
  flex: 1;
  padding: 0 20px;
  overflow-y: auto;
  width: 100%;

  .list-view-pf-checkbox {
    padding-top: 3px;
  }
}

.quipicords-list-view {
  margin-top: 15px;
  .list-view-pf-actions {
    margin-left: 0;
    text-align: right;
    width: 150px;

    .btn-link {
      color: var(--pf-global--palette--black-700);
      .pficon, .fa {
        font-size: 14px;
      }
      &:hover, &:focus {
        color: var(--pf-global--palette--blue-500);
      }
    }
    .dropdown.btn-group {
      margin-left: 10px;
    }
  }

  .list-item-name {
    font-size: 16px;
    font-weight: 600;
    margin: -7px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .list-view-pf-left .pficon.list-view-pf-icon-sm, .list-view-pf-left .fa.list-view-pf-icon-sm {
    border: 0;
  }

  .list-group-item-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;

    .container-fluid {
      padding-right: 40px;
      flex: 1 1 auto;
      .dropdown.btn-group {
        .dropdown-toggle {
          color: var(--pf-global--palette--black-700);
          &:hover, &:focus {
            color: var(--pf-global--palette--blue-500);
          }
        }
      }
    }

    .pager {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .hidden-results {
      opacity: 0;
      span {
        white-space: nowrap;
      }
    }

    // FixMe: consolidate both quipucords-infinite-results and quipucords-infinite-list into a single css class
    .quipucords-infinite-results {
      width: 100%;
    }

    .quipucords-infinite-list {
      overflow-y: auto;
      min-height: 70px;
      max-height: 300px;
      border: solid 1px var(--quipucords--gray-light);
      border-left: 0;
      border-right: 0;
      margin-top: 25px;
      padding: 5px 20px 5px 10px;

      .btn-link {
        color: var(--pf-global--palette--black-700);
        .pficon, .fa {
          font-size: 14px;
        }
        &:hover, &:focus {
          color: var(--pf-global--palette--blue-500);
        }
      }
    }

    .show-next-button {
      padding-left: 0;
    }

    // Within an expansion area, make blank slate become a single line, no background, no borders
    .blank-slate-pf {
      background: transparent;
      border: none;
      padding: 10px 20px;
      .blank-slate-pf-icon {
        font-size: 22px;
        line-height: 22px;
        float: left;
      }
      .blank-slate-pf-title {
        font-size: 12px;
        line-height: 22px;
        text-align: left;
        margin-top: 0;
        margin-left: 10px;
        float: left;
      }
      .blank-slate-pf-info {
        float: left;
        margin-left: 10px;
      }
    }
  }
}

.toolbar-pf-results .quipucords-view-count {
  float: right;
  margin-right: 0;
}

.quipucords-split-description {
  display: flex;
  flex-direction: row;
}

.quipucords-description-left {
  width: 50%;
  margin-right: 10px;
  .list-group-item-heading {
    margin-right: 0;

    .btn-link {
      font-size: inherit;
    }
  }
  .list-group-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0;
  }
}

.quipucords-description-right {
  width: 50%;
}

.quipucords-sources-popover-scroll {
  .popover-content {
    max-height: 80px;
    overflow-y: auto;
  }
}

.quipucords-popover-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    word-wrap: break-word;
  }
}

.quipucords-sources-network-button {
  padding-left: 0;
}

.blank-slate-pf.full-page-blank-slate {
  border: none;
}

.blank-slate-pf.list-view-blank-slate {
  background-color: transparent;
  border: none;
  height: 100%;
  margin: 0 20px;
}

.list-view-info-item-icon-count {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95px;

  &.empty-count {
    font-style: italic;
    opacity: 0.8;
  }
}

.quipucords-scan-list-item .list-view-pf-left {
  overflow: hidden;
  padding-top: 6px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.quipucords-credential-list-item {
  .list-view-pf-description {
    margin-top: 4px;
  }
  .list-view-pf-additional-info {
    margin-top: -3px;
  }
}

.blank-slate-pf button {
  width: 155px;
}

.list-view-pf-actions .dropdown.btn-group {
  margin-left: 10px;
}

.pficon.pficon-disconnected.is-error::before {
  color: var(--pf-global--palette--red-100);
}

.pf-c-pagination.pf-m-bottom.quipucords-view__pagination {
  padding-bottom: 0 !important;
}
