/* _wizard.scss */
.wizard-pf {
  .wizard-pf-main {
    overflow: inherit;
  }

  abbr {
    border-bottom: none;
  }

  .form-horizontal .form-group {
    margin-left:0;
    margin-right:0;
  }

  .form-horizontal .form-group label {
    padding-right: 0;
  }

  .input-group .input-group-btn .btn {
    height: 26px;
  }

  .form-horizontal h3 {
    margin-top: 0;
  }

  .btn-file {
    @extend .input-group-btn;
  }

  @media (min-width: $screen-sm-min) {
    margin: 30px auto;
    padding: 0;
    width: 600px;

    .wizard-pf-row {
      min-height: 450px;
      height: auto;
    }
  }
}

.quipucords-wizard {
  @media (min-width: $pf-global--breakpoint--sm) {
    flex: unset !important;
    min-height: 37rem !important;
  }

  &__hide-nav {
    .pf-c-wizard__outer-wrap {
      padding-left: 0;

      nav {
        display: none;
      }
    }
  }

  &__hide-nav-last {
    .pf-c-wizard__nav-list {
      li:last-child {
        display: none;
      }
    }
  }
}
