.quipucords-toolbar__user-dropdown {
  align-items: center;
  display: flex;
  gap: var(--pf-v5-global--spacer--sm);
}
.quipucords-toolbar__user-dropdown .pf-v5-c-avatar {
  width: 36px;
  height: 36px;
  background: url(../bgimages/img_avatar.svg);
}
