name: Integration testing
on:
  push:
    branches: [ main, dev** ]
    tags:
      - "*"
  pull_request:

jobs:
  Integration:
    runs-on: ubuntu-latest
    permissions:
      # required for releasing artifacts
      contents: write
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install Node.js packages
        run: npm ci
      - name: Linting
        run: npm run test:ci-lint
      - name: Build integration
        run: npm run test:ci-build
      - name: Unit tests
        run: npm run test:ci-coverage
